<div class="{{design}}">
  {{render "filtersmenu" model}}

  {{outlet}}
  {{#if cassetteDesign}}
    {{render "cassette" model}}
  {{/if}}
  {{#if tableDesign}}
    <table class="tracks-table">
      <tbody>
        {{#each model.tracks as |track|}}
          {{track-row track=track}}
        {{/each}}
      </tbody>
    </table>
  {{partial "pagination"}}
{{/if}}
{{#if colorGridDesign}}
<div class="tracks-colorGrid">
        {{#each track in model.tracks}}
          {{#link-to 'track' track class="grid-item" data-trackid=track.id}}
            <p class='track'>
              <span class="track_author">{{track.author}}</span>
              <span class="track_channel">{{track.channel}}</span>
              <br/>
            </p>
            <p>
              <br/>
              <span class="track_name">
                {{track.name}}
              </span>
            </p>
            <p class='track'>
              <br/>
              {{#each tag in track.tags}}
                {{tag.name}}
              {{/each}}
            </p>
          {{/link-to}}
        {{/each}}
    {{partial "pagination"}}
  </div>

  {{/if}}
</div>

